@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibur');

h1{
    color: #3A3644;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h2 {
  padding-top: 10px;
}
/* backgrounds */

.milkcookies {
    background-image: url('./images/milkcookies.png');
    background-repeat: no-repeat;
    background-position: center -30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: 65%; */
    background-size: cover;
    height: 100%;
    background-color: #DDB4CB;
    background-attachment: fixed;
}

.cookiedish {
    background-image: url('./images/cookiedish.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 50%;
    background-color: #DDB4CB;
    background-attachment: fixed;
    height: 100%;
    background-position: left -30px;
    background-repeat: no-repeat;
    /* background-size: contain; */
  }

.cookiesAssortment {
    background-image: url('./images/cookies.jpg');
    background-repeat: no-repeat;
    background-position: center -30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 65%;
    height: 100%;
    background-color: #DDB4CB;
    background-attachment: fixed;
}
/* .milkcookies {
    background-image: url('/main_app/static/images/milkcookies.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


.card-img-top {
    /* width: 18em;
    height: auto; */
    width: 18em;
    height: auto;
    object-fit: cover;
}

.card-horizontal{
    display: flex;
    flex-grow: 0;
}

.card-body {
    width: 25em;
    display: block;
    height: auto;
    text-align: center; 
    font-size: 1em; 
    color: #D6B0D8;
    background-color: #3A3644;
    opacity: 90%;
    
}

.row {
  /* min-width: 600px;
  height: auto; */
  /* flex-shrink: 0; */
  gap: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.navbar {
    background-color: #3A3644;
}

.navbar-brand, .dropdownMenu, .dropdown-item, .nav-link, .homepagetitle, .titlehome {
    font: 5vh "Vibur";
    color: rgb(250, 217, 248);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e044ff, 0 0 0.5em #e044ff, 0 0 0.1em #e044ff, 0 10px 3px #000;

  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  
  .dropdown-item {
      font-size: medium;
      font: 400 2vh 'Open Sans';
      background-color: #3A3644;
  }
  .dropdown-item:hover {
    background-color: #3A3644;
    color:#fdf4ff;
  }
  .dropdown-menu {
    background-color: #3A3644;
    
 
  }
  .dropdown-menu:hover {
    color:#fdf4ff;
  }
  .dropdownMenu:hover {
    color:#fdf4ff;
    text-align: right;

  }
  .dropdownMenu {
    padding-left: -100px;
  }
  .navbar-brand:hover {
    color:#fdf4ff;
  }

/* FORMS */

.newForm, .signUpForm {
    color:#D6B0D8;
    width: 400px;
    justify-content: center;
    background-color:#3A3644;
    opacity: 90%;
    
}
.form-text {
    color:#D6B0D8;
    background-color:#3A3644;
    opacity: 90%;
    
}

.signUpForm {
margin-top: 2em;

}
.sprinkleSignUp {
  background-image: url('./images/sprinkles.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #DDB4CB;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat, no-repeat;
}
.logInForm{
    background-color:#3A3644;
    opacity: 90%;
    justify-content: center;
    width: 300px;           
    height: 300px;        
    position: fixed;
    top: 50%;
    left: 50%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    color:#D6B0D8;
    margin-top: -100px;    
    margin-left: -550px;     
    border:#3A3644;
    border-width: 20px;
    border-radius: 10px;
}
.newCookieTitle {
  color:#D6B0D8;
}

.overall_rating {
    width: 20px;


}

.updateBtn {
    display: flex;
    justify-content: center;
}

/* home page */

.thecookiejarhome {
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.homepage {
  background-image: url('./images/sprinkles.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-color: #DDB4CB;
  background-attachment: fixed;
  height: 100%;
  background-position: left -30px;
  background-repeat: no-repeat;
  background-repeat: no-repeat, no-repeat;
}

.titlehome {
  text-align: center;
}

.cookienav, .bakerynav {
    margin-right: 100px;
    height: 120px;
}
 .sweetcookie {
   background-color: transparent;
   text-align: center;
   border: none;
   margin-bottom: 100px;
   font: 5vh "Vibur";
   

   color: rgb(217, 250, 244);
   text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e044ff, 0 0 0.5em #e044ff, 0 0 0.1em #e044ff, 0 10px 3px #000;

 }
 @keyframes blink {
   78% {
     color: inherit;
     text-shadow: inherit;
   }
   79%{
      color: #333;
   }
   80% {
     
     text-shadow: none;
   }
   81% {
     color: inherit;
     text-shadow: inherit;
   }
   82% {
     color: #333;
     text-shadow: none;
   }
   83% {
     color: inherit;
     text-shadow: inherit;
   }
   92% {
     color: #333;
     text-shadow: none;
   }
   92.5% {
     color: inherit;
     text-shadow: inherit;
   }
 }
  
 