{% extends 'base.html' %}
{% block content %}
<body class="milkcookies">
    <form>
        <div class="d-flex justify-content-center">
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search"/>
        <a href="{% url 'cookies' %}" class='btn btn-sm btn-secondary' role="button">Clear Search</a>
        </div>
    </form>

    <h1>{{header}}</h1>
    <div class="dropdown">
        


    </div>
    {% for cookie in cookies %}
    <div class="d-flex justify-content-center">
    <div class="card-horizontal border border-5 cookieList">
        <a href="{% url 'cookie_detail' cookie.pk %}"> 
            <img src="https://res.cloudinary.com/dq2v2nhpp/image/upload/{{cookie.img}}" class="card-img-top" style="height: auto;" alt="{{cookie.name}}">
            </a>
    <div class="card-body">
        <p class="name">{{cookie.name}}</p> 
    
    <p>Description:{{cookie.description}}</p>
    <p>Eaten by:
        <a href="/user/{{ cookie.user.username }}">{{ cookie.user.username }}</a>
    </p>
    </div>
    </div>
</div>


    {% endfor %}
{% endblock %}
</body>


