{% extends 'base.html' %} 

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card-horizontal border border-5 cookieList">
        <a href="{% url 'cookie_detail' cookie.pk %}"> 
            <img src="https://res.cloudinary.com/dq2v2nhpp/image/upload/{{cookie.img}}" class="card-img-top" style="height: auto;" alt="{{cookie.name}}">
            </a>
    <div class="card-body" style="text-align: center; font-size: 1em; color:#E3F0DB;">
        <p class="name">{{cookie.name}}</p> 
        <p>Apperance: {{cookie.appearance}}</p>
        <p>Taste: {{cookie.taste}}</p>
        <p>Overall: {{cookie.overall_rating}}</p>
        <p>Comments: {{cookie.comments}}</p>
        <p>Description:{{cookie.description}}</p>
        <p>Eaten by:
            <a href="/user/{{ cookie.user.username }}">{{ cookie.user.username }}</a>
        </p>
        <div>
            <a href="{% url 'update_cookie' cookie.pk %}" class="btn btn-info" role="button">Update</a>
            <a href="{% url 'delete_cookie' cookie.pk %}" class="btn btn-danger" role="button">DELETE</a>
        </div>
    </div>
    </div>
</div>
    
{% endblock %}