{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class = "cookiesAssortment">
	<h1>New Bakery</h1>
	<div class="d-flex justify-content-center">
	<form class="form-control form-horizontal d-flex justify-content-center p-2 bd-highlight newForm" method="post" enctype="multipart/form-data">
        <div class="mb-3 form-control form-text">
		<!-- Security Feature  -->
		{% csrf_token %} 
		<!--  Generate inputs  -->
		<!-- {{form.as_p}}  -->
		{% crispy form %}
		<!--  Submit form  -->
		<input type="submit" class ="btn btn-primary" value="Submit" />
        </div>
	</form>
</div>
</body>
{% endblock %}