{% extends 'base.html' %} 

{% block content %}
<div class="flex-column d-flex justify-content-center align-items-center mt-5 deletecookieconfirm">
<h1>Delete {{cookie.name}} ?</h1>
<body class="milkcookies">
<form method="post">
  {% csrf_token %}
  <div class="d-flex justify-content-center mt-5">
    <input type="submit" class="btn btn-danger deleteCookie" role="button" value="Yes, all good things must crumb to an end" />
    <a href="{% url 'cookie_detail' cookie.pk %}" class="btn btn-info cancelDelete" role="button">NO I AM NOT A COOKIE MONSTER</a>
  </div>

</form>
</body>
</div>
{% endblock %}