{% extends 'base.html' %}

{% block title %}
The Cookie Jar
{% endblock %}
{% block content%}
<body class="homepage">
    
    <div class ="homepageContainer d-flex justify-content-center">
            <div class="d-flex flex-column homepagelinks mt-5">
                <h3 class="titlehome">Welcome to the cookie jar</h3>
                <h2 class = "sweetcookie">the sweetest place to keep your cookies</h2>
            </div>
            <div class="thecookiejarhome">
        
            <div class="d-flex align-items-center">
                <div class="d-flex col-sm-6">
                
                    <div class="card-body cookienav">
                    <p class="card-text">Add a cookie and give it a rating based on the five senses!</p>
                    <a href="{% url 'create_cookie' %}" class="btn bakeCookie pt-0">bake cookie</a>
                    </div>
            
                </div>
                <div class="col-sm-6">
                
                    <div class="card-body bakerynav">
                    <p class="card-text">Add a bakery so when it is time for a treat, you know where to go!</p>
                    <a href="{% url 'create_bakery' %}" class="pb-5 pt-0 btn bakery">add bakery</a>
                    </div>
            
                </div>
            </div>
        </div>
    </div>

</body>


{% endblock %}