{% extends 'base.html' %}


{% block content %}
<body class = milkcookies>
<h1>My Cookie Jar</h1>
<div class="d-flex justify-content-center">
<a class="d-flex justify-content-center btn-sm btn-secondary addCookie"  href="{% url 'create_cookie' %}">Add Cookie</a>
</div>
{% for cookie in cookies %}
    <div class="d-flex justify-content-center">
    <a href="/cookies/{{ cookie.id}}">
        <div class="cookies">{{ cookie.name }}</div>
    </a>
    </div>  
</body>    
{% endfor %}

{% endblock %}